footer {
    background: var(--bs-cakephpred);
}

footer li {
    list-style: none;
    font-size: 1.2rem;
}


.footer-list li::before {
    content: "\F2C8";
    /* Bootstrap Icon Unicode */
    font-family: "bootstrap-icons";
    position: absolute;
    left: 0;

}


.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}


.navbar-nav .nav-link {
    position: relative;

}

.navbar-nav .nav-link.active {
    
    color: white !important;
    border-bottom: var(--bs-cakephpblue) 2px solid;
    border-radius: .25rem;
    padding: .5rem .75rem;
}

.navbar-nav .nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    border-color: var(--bs-cakephpblue);
}


 .header-image .text-panel {
     display: inline-block;
     padding: 1rem 1.25rem 1rem 1.25rem;
     border-radius: 1rem;
     color: #fff;
     backdrop-filter: blur(5px) brightness(70%);
     background: rgba(0, 0, 0, .15);
     /* fallback “tint” */
 }